#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 21px;
  width: 147px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 21px;
  width: 147px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 21px;
  width: 147px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 21px;
  width: 147px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Button_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 21px;
  width: 147px;
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4bde9308-be76-4b8b-be6d-63528ca09f94 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}