#s-a1253fb2-f964-40cc-8c41-023e397888fa > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 768px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_1 {
  position: absolute;
  width: 293px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_1 > img, #s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_1 > svg {
  height: 57px;
  width: 293px;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_35 > svg {
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_35 {
  position: absolute;
  width: 42px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_35 > img, #s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Image_35 > svg {
  height: 45px;
  width: 42px;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 22.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 > .clipping, #s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 22.0pt;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Text_1 span#rtr-s-Text_1_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_4 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 {
  position: absolute;
  width: 345px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Input_5 > .paddingLayer {
  height: 42px;
  width: 326px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 {
  position: absolute;
  width: 127px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 > .clipping, #s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 > .paddingLayer {
  height: 29px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 {
  position: absolute;
  width: 127px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 > .clipping, #s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 > .paddingLayer {
  height: 29px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa #s-Button_13 span#rtr-s-Button_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a1253fb2-f964-40cc-8c41-023e397888fa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}