#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}