#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-28a1e899-685e-4103-a09b-765e8b377cd8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}