<html>
  <body>
    <div class="ui-page" deviceName="web" deviceType="desktop" deviceWidth="1280" deviceHeight="768">
         <div id="t-28a1e899-685e-4103-a09b-765e8b377cd8" class="template growth-both devWeb canvas firer commentable non-processed" alignment="left" name="templateOperario" width="1280" height="768">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/28a1e899-685e-4103-a09b-765e8b377cd8-1558924429245.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/28a1e899-685e-4103-a09b-765e8b377cd8-1558924429245-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/28a1e899-685e-4103-a09b-765e8b377cd8-1558924429245-ie8.css" /><![endif]-->
           <div id="t-Rectangle_5" class="pie rectangle firer commentable non-processed"   datasizewidth="1280px" datasizeheight="124px" dataX="101" dataY="151" >
            <div class="backgroundLayer"></div>
            <div class="paddingLayer">
              <div class="clipping">
                <div class="content">
                  <div class="valign">
                    <span id="rtr-t-Rectangle_5_0"></span>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div id="t-Hotspot_1" class="imagemap firer ie-background commentable non-processed"   datasizewidth="170px" datasizeheight="39px" dataX="0" dataY="19"  >
               <div class="clickableSpot"></div>
           </div>

           <div id="t-Image_1" class="pie image firer ie-background commentable non-processed"   datasizewidth="144px" datasizeheight="27px" dataX="17" dataY="27"   alt="image">
               <img src="./images/07a2748d-2684-4e55-842d-de315c2528e3.png" />
           </div>

           <div id="t-Image_35" class="pie image firer ie-background commentable non-processed"   datasizewidth="64px" datasizeheight="61px" dataX="1180" dataY="8"   alt="image">
               <img src="./images/073b6d03-c590-4248-ac39-909a2481fa5b.png" />
           </div>

           <div id="t-Image_24" class="pie image firer click ie-background commentable non-processed"   datasizewidth="23px" datasizeheight="24px" dataX="1243" dataY="44"   alt="image">
               <img src="./images/6019979a-4728-4629-a809-acf47da432ee.png" />
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>